express : 서버를 만들어주는 라이브러리, 데이터베이스 서버 올릴거임
mongoose : 몽고디비를 좀 더 쉽게 사용할 수 있도록 도와주는 라이브러리
cors : 프론트, 백엔드 연결
dotenv : 내가 설치한 환경변수 설정을 들고오는 라이브러리
http : http서버를 만들 수 있는 라이브러리, 웹소켓 서버 올릴거임   

socket.io : 웹소켓프로그래밍을 위해~! 중요~!

nodemon : 파일의 변화가 있을 시 자동으로 리로딩 해주는 라이브러리